=content_for(:title, "Home")
=render 'shared/post_form'
%h2.page-title{:style => "text-align: center;"}
  Feed
-if @feed_items.any?
  %ol.post-list
    =render @feed_items 
  =will_paginate @feed_items, :previous_label => 'Back', :next_label => 'Next', :class => 'paginate'
