=content_for(:title, "Home")
.column-1
  =render 'shared/post_form'
  -if @feed_items.any?
    .post-list
      =render @feed_items 
    =will_paginate @feed_items, inner_window: 2, outer_window: 0, :previous_label => 'Back', :next_label => 'Next', :class => 'paginate'
.column-2
  =render 'shared/calendar' 
