.mat-card.reply-card
  %span.user
    =link_to reply.user.name, reply.user
  %span.time_stamp{:style => "display: inline;" }
    %small
      =time_ago_in_words(reply.created_at)
  %p.content{:style => "display: block;"}
    =reply.content
    =image_tag reply.picture.url if reply.picture?
  -if current_user?(reply.user) || current_user.admin?
    %span
      %small
        =link_to "delete", reply, method: :delete, data: { confirm: "Are you sure?" }
