.mat-card.reply-card{:id => "reply-#{reply.id}"}
  %span.user
    =link_to reply.user.name, reply.user
  %span.time_stamp{:style => "display: inline;" }
    %small
      =time_ago_in_words(reply.created_at)
  -term = (defined? locals) ? locals[:term] : nil
  =render 'shared/content', :locals => { :content => reply.content, :term => term }
  //%p.content{:style => "display: block;"}
  //  =raw Rinku.auto_link(reply.content, mode=:all, link_attr=nil, skip_tags=nil)
  =image_tag(reply.picture.url, :class => "picture") if reply.picture?
  -if current_user?(reply.user) || current_user.admin?
    %span
      %small
        =link_to "delete", reply, remote: true, method: :delete, data: { confirm: "Are you sure?" }
