-@users.each do |user|
  .mat-card
    = link_to user do
      %h4
        = user.name
    %span
      = "email: #{user.email}"
    -if current_user.admin? && !current_user?(user) 
      =link_to "delete", user, method: :delete, data: { confirm: "You sure?"}
    
