-@user = user
.mat-card
  = link_to user, :class => "user-name" do
    %h4
      = user.name
  %p
    = "email: #{user.email}"
  -if current_user.admin? && !current_user?(user)
    =link_to "delete", user, method: :delete, data: { confirm: "Are you sure?"}, class: "link"
  =render 'relationship'
