-@user = user
.mat-card
  = link_to user, :class => "user-name" do
    %h4
      = user.name
  %p
    = "email: #{user.email}"
  -if current_user.admin? && !current_user?(user)
    %span
      =link_to "delete", user, method: :delete, data: { confirm: "You sure?"}
  -if current_user.following?(user)
    =render 'unfollow'
  -else
    =render 'follow'
