.mat-card
  = link_to user, :class => "user-name" do
    %h4
      = user.name
  %span
    = "email: #{user.email}"
  %br
  %span
    -if current_user.admin? && !current_user?(user) 
      =link_to "delete", user, method: :delete, data: { confirm: "You sure?"}
  
