=content_for(:title, @user.name)
.mat-card
  %h3= @user.name
  %p This is the infomation page about user #{@user.id}
-if @user.posts.any?
  %ol.post-list
    =render @posts
  =will_paginate @posts, :previous_label => 'Back', :next_label => 'Next', :class => 'paginate'
   
