=content_for(:title, @user.name)
.mat-card
  %h3= @user.name
  %p This is the infomation page about user #{@user.id}
  %p= "email: #{@user.email}"
  =render 'relationship'
-if @user.posts.any?
  %ol.post-list
    =render @posts
  =will_paginate @posts, inner_window: 2, outer_window: 0, :previous_label => 'Back', :next_label => 'Next', :class => 'paginate'
   
