=content_for(:title, "Unfollowed")
.mat-card
  %h3= "Unfollowed Users"
  %p
    You have unfollowed
    =succeed " users' activity from your news feed. To re-follow a user just click the 'follow' link next to their name." do
      %strong#unfollowing= @users.count
=render @users
=will_paginate inner_window: 2, outer_window: 0, :previous_label => 'Back', :next_label => 'Next', :class => 'paginate'
