.mat-card.calendar 
  %h3
    Calendar
  -first_day_this_month = Time.parse(Time.now.strftime("%Y-%m-01"))
  -month = first_day_this_month
  -@months
  -events = events(Time.now, Time.now + @months.length.months)
  -@months.each do |m|
    =render 'shared/month', :locals => { :month => month + m.months, :events => events }
  =will_paginate @months, :param_name => :month,  page_links: false, :previous_label => 'Back', :next_label => 'Next', :class => 'paginate calendar-page'
