- content = locals[:content]
- term = locals[:term]
-if !(term && content.downcase.include?(term.downcase))
  .content{:style => " font-size: 16px;"}
    =raw Rinku.auto_link(locals[:content], mode=:all, link_attr=nil, skip_tags=nil)
-else
  -non_terms = content.split(/#{term}/i)
  .content
    -if non_terms.empty?
      %strong=term
    -else
      -non_terms[0..-2].each do |non_term|
        .non-term=non_term
        .term=term
      .non-term=non_terms[-1]
