.mat-card
  -if post.title?
    %h3= post.title
  %span.post-title
    =link_to post.user.name, post.user
  %span.timestamp{:style => "display: inline;"}
    %small  
      =time_ago_in_words(post.created_at)
  %p.content{:style => "display: block;"}
    =raw Rinku.auto_link(post.content, mode=:all, link_attr=nil, skip_tags=nil)
  =image_tag(post.picture.url, :class => "picture") if post.picture?
  -if current_user?(post.user) || current_user.admin?
    %span
      %small
        =link_to "delete", post, method: :delete, data: { confirm: "Are you sure?"} 
  =render Reply.where(post: post)
  =render 'shared/reply_form', post: post 
