$body: #f1f1f1;
$link: #0062b5;

$header: #002469;
$header-font: #ffffff;
$hamburger: #ffffff;
$logo: #ffffff;

$footer: #5e6062;
$footer-font: #ffffff;

$card: #ffffff;
$card-shadow: #a4a4a4;
$card-header-border: #bbb;

//for pagination
$paginate-current: #000000;
$paginate-other: #0062b5;

$input: #ffffff;
$input-shadow: #cccccc;
$input-border: #bbb;

$submit: #bc4110;
$submit-border: #bc4110;
$submit-font: #ffffff;

$checkbox: #69a4e8;
$checkbox-border: #bbb;
$checkbox-background: #ffffff;
$checkbox-checked: #69a4e8;
