@import "colors";

/* global */

html{
  font-size: 24px;
}

.noselect {
  -webkit-touch-callout: none;//iOS Safari
    -webkit-user-select: none;//Safari
     -khtml-user-select: none;//Konqueror HTML
       -moz-user-select: none;
        -ms-user-select: none;//IE
            user-select: none;//Chrome and Opera
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0; 
}

.page-title{
  margin-bottom: 20px;
}

body{
  margin-top: 100px;
  background-color: $body;
  margin: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
}
 
/* cards */

.mat-card{
  position: relative;
  z-index: 1;
  max-width: 678px;//768 - 80 (accounts for margin)
  clear: both;
  background-color: rgba(255,255,255,0.9);//$card;
  box-shadow: 0 1px 3px 0 $card-shadow;
  padding: 10px 40px 10px 40px;
  h3, h4{
    text-align: center;
    border-bottom: 1px solid $card-header-border;
    padding-bottom: 5px;
  }
  h4{
    margin-bottom: 5px;
  }
  ul {
    margin-bottom: 20px;
  }
  p {
    margin: 5px 0;
    font-size: 0.66em;
  }
  span{
    font-size: .75em;
  }
  a,.user-name{
    color: $link;
    text-decoration: none;
    :hover{
      text-decoration: underline;
    }
  }
  a:hover{
  text-decoration: underline;
  }
  .suggestion{
    margin: 0;
  }
  .content{
    //margin-top: 10px;
  }
}



.alert{
  text-align: center;
}

.alert-success{
  background-color: #b3ffcc;
}

.alert-danger{
  background-color: #ffccdd;
}

.reply-card{
  box-shadow: 0 1px 3px 1px #666666;
  background-color: rgba(255,255,255,0.0);//$card;
}

.reply-open{
  color: $link;
  cursor: pointer;
  font-size: .62em;
  display: inline-block;
}
.reply-open:hover{
  text-decoration: underline;
}

.post-list{
  padding: 0;
  margin: 0;
}

.paginate{
  text-align: center;
  margin: 20px 0;
  *{
    box-shadow: 0 1px 3px 0 $card-shadow;
    padding: 2px 7px;
    background: $card;
    margin-bottom: 5px;
    font-size: .8em;
  }
  a{
    text-decoration: none;
    color: $paginate-other;
  }
  a:hover{
    text-decoration: underline;
  }
  em{
    color: $paginate-current;
    font-style: normal;
  }
  span{
    display: none;
  }
  .gap{
    display: inline-block;
  }
}




/* header */

.push {
  margin-bottom: 60px;
}

header {
  z-index: 2;
  width: 100%;
  position: fixed;
  padding: 0;//8px 0px 8px 0px;
  background-color: $header;
  .logo {
    font-size: 18px;
    color: $logo; 
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
  }
  #logo1{
    margin: 5px 0 5px 5px;
  } 
  #logo2{
    margin: 10px 0 0px 5px;
  }
  .hamburger{
    color: $hamburger;
    margin: 10px 10px 8px 0;
    float: right;
    width: 25px;
    height: 22px;
    line-height: 22px;
    border: 2px solid $hamburger;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    font-size-adjust: 0.55;
    cursor: pointer;
  }
  #nav-hidden{
    float: right;
    width: 100%;
    margin: 0;
    margin-top: 2px;
    display: none;
    list-style: none;
    font-size: .66em;
    a {
      padding-right: 13px;
      float: right;  
      text-align: right;
      display: block;
      width: 100%;
      height: 30px;
      line-height: 30px;
      top: 5px;
      color: $header-font;
      text-decoration: none;
    } 
    a:hover {
      text-decoration: underline;
    }
    li {
      cursor: pointer;
      width: 100%;
      height: 30px;
    }
    li:hover{
      background-color: $header-font;
      a{
        color: $header;
      }
    }
  }
}

.open{
  
  //padding: 8px 0px 0px 0px;


  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 60, 117, 1.0)), to(rgba(27, 60, 117, 0.9)));

  background-image: -moz-linear-gradient(
  rgba(27, 60, 117, 0.9) 0%, rgba(27, 60, 117, 0.9) 95%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55193B79, endColorstr=#55193B79);

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55193B79, endColorstr=#55193B79);

  .hamburger{ 
    color: $header; 
    border: 2px solid $header;
    background-color: $header-font;
  }
}


/* footer */

footer {
  height: 500px;
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background: $footer;
  color: $footer-font;  
  overflow: hidden;
  font-size: .66em; 
  a {
    font-size: 1em;
    margin-right: 5px;
    color: $footer-font;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  ul {
    width: 30%;
    margin: 0;
    float: right;
    list-style: none;
    display: table-cell;
    padding: 0;
    text-align: right;
  }
  small{
    width: 70%;
    float: left;
  }
}

/* forms */

form {
  padding: 0;
   label { 
    display: inline-block;
    margin-bottom: 5px;
  } 
  input[type=email],
  input[type=password],
  .form-submit,
  .text-input,
  textarea
  {
    height: 25px;
    -webkit-appearance: none; 
    box-sizing: border-box;
    border-radius: 0;
    background-color: $input;
    width: 100%;
    border: 1px solid $input-border;
    padding: 0 10 0 10;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 0 $input-shadow;
  }
  .form-submit {
    position: relative;
    background: $submit;
    border: 1px solid $submit-border;
    color: $submit-font;
    padding-right: 0;
    height: 30px; 
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
  }
  textarea{
    height: 100px;
    margin-top: 15px;
    margin-bottom: 0;
    resize: vertical;
  }
  .checkbox{
    input[type=checkbox]{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 2px; 
      width: 2px;
      padding: 5px;
      border: 1px solid $checkbox-border;
      margin: 0 2px 0 0; 
      bottom: 1px;
      vertical-align: middle;
      position: relative;
      border-radius: 2px;
    }
    input[type=checkbox]:checked{
      background-color: $checkbox-checked;
      border: 1px solid $checkbox-checked;
      box-shadow: 0px 0px 5px 2px $checkbox-checked;
    }
    input[type=checkbox]:focus{
      outline-width: 0;
    }
    span{
      cursor: pointer;
      font-size: .8em;
    }
  }  
}


.image-0{
  //640x360
  background-image: url("2013-04-Bob-Metcalfe-MIT-Forum-by-eschipul-8167-7608d.jpg");
}
.image-1{
  //1024x768
  background-image: url("5446897377_4e7e938a07_b.jpg");
}
.image-2{
  //4685x2635
  background-image: url("Fondren_Library,_Rice_University.JPG");
}
.image-3{
  //800x492
  background-image: url("Lovett_Hall.jpg");
}
.image-4{
  //960x639
  background-image: url("rice-university-1085927_960_720.jpg");
}


/* mobile */


@media only screen and (max-width: 480px){
  .mat-card{
    margin: 10px auto 10px auto;
    padding: 10px;  
    .suggestion{
      margin-bottom: 10px;
    }
  }
  #logo2{
    display: none;
  }
  .image-0,
  .image-1{
    //1024x768
    background-image: url("5446897377_4e7e938a07_b.jpg");
  }
  .on-device.image-2{
    //4685x2635
    //background-image: url("Fondren_Library,_Rice_University.JPG");
    background-size: 26% 26%;
  }
  .image-3{
    //800x492
    background-image: url("Lovett_Hall.jpg");
    background-size: 136% 136%;
  }
  .image-4{
    //960x639
    background-image: url("rice-university-1085927_960_720.jpg");
    backgorund-size: 106% 106%; 
  }
}

/* tablet */

@media only screen and (min-width:481px){
  .mat-card{
    margin: 10px 10px 10px 10px;
  }
  #logo1{
    display: none;
  }

}

/* desktop */

@media only screen and (min-width: 768px){
  .mat-card{
    margin: 10px auto 10px auto; 
  }

}


.on-device{
  body{
    cursor: pointer;
    background-position: center 0px;
  }
  form{
    input[type=email],
    input[type=password],
    .form-submit,
    .text-input
    {
      height: 35px;
    }
  }
  .paginate{
    *{
      font-size: 1em;
    }
  }
}

/* Debug */

pre{
  font-size: .66em;
  overflow: none;
}
