@import "colors";

/* global */

html{
  font-size: 24px;
}

.noselect {
  -webkit-touch-callout: none;//iOS Safari
    -webkit-user-select: none;//Safari
     -khtml-user-select: none;//Konqueror HTML
       -moz-user-select: none;
        -ms-user-select: none;//IE
            user-select: none;//Chrome and Opera
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0; 
}

.page-title{
  margin-bottom: 20px;
}

body{
  margin-top: 100px;
  background-color: $body;
  margin: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
 
/* cards */

.mat-card{
  position: relative;
  z-index: 1;
  max-width: 678px;//768 - 80 (accounts for margin)
  clear: both;
  background: $card;
  box-shadow: 0 1px 3px 0 $card-shadow;
  padding: 10px 40px 10px 40px;
  h3, h4{
    text-align: center;
    border-bottom: 1px solid $card-header-border;
    padding-bottom: 5px;
  }
  h4{
    margin-bottom: 5px;
  }
  ul {
    margin-bottom: 20px;
  }
  p {
    margin-top: 0px;
    font-size: 0.66em;
  }
  span{
    margin-bottom: 20px;
    font-size: .75em;
  }
  a,.user-name{
    color: $link;
    text-decoration: none;
    :hover{
      text-decoration: underline;
    }
  }
  a:hover{
  text-decoration: underline;
  }
}


.alert{
  text-align: center;
}

.paginate{
  text-align: center;
  margin: 20px 0;
  *{
    box-shadow: 0 1px 3px 0 $card-shadow;
    padding: 2px 7px;
    background: $card;
    margin-bottom: 5px;
    font-size: .8em;
  }
  a{
    text-decoration: none;
    color: $paginate-other;
  }
  a:hover{
    text-decoration: underline;
  }
  em{
    color: $paginate-current;
    font-style: normal;
  }
  span{
    display: none;
  }
}


/* header */

.push {
  margin-bottom: 60px;
}

header {
  z-index: 2;
  width: 100%;
  position: fixed;
  padding: 8px 0px 8px 0px;
  background-color: $header;
  #logo {
    font-size: 18px;
    color: $logo; 
    text-decoration: none;
    display: inline;
    margin-left: 8px;
  } 
  .hamburger{
    color: $hamburger;
    margin-right: 10px;
    float: right;
    width: 25px;
    height: 22px;
    line-height: 22px;
    border: 2px solid $hamburger;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }
  #nav-hidden{
    float: right;
    width: 100%;
    margin: 0;
    margin-top: 7px;
    display: none;
    list-style: none;
    font-size: .66em;
    a {
      padding-right: 11px;
      float: right;  
      text-align: right;
      display: block;
      width: 100%;
      height: 30px;
      line-height: 30px;
      top: 5px;
      color: $header-font;
      text-decoration: none;
    } 
    a:hover {
      text-decoration: underline;
    }
    li {
      cursor: pointer;
      width: 100%;
      height: 30px;
    }
    li:hover{
      background-color: $header-font;
      a{
        color: $header;
      }
    }
  }
}

.open{
  padding: 8px 0px 0px 0px;
  .hamburger{ 
    color: $header; 
    border: 2px solid $header;
    background-color: $header-font;
  }
}


/* footer */

footer {
  height: 500px;
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background: $footer;
  color: $footer-font;  
  overflow: hidden;
  font-size: .66em; 
  a {
    font-size: 1em;
    margin-right: 5px;
    color: $footer-font;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  ul {
    width: 30%;
    margin: 0;
    float: right;
    list-style: none;
    display: table-cell;
    padding: 0;
    text-align: right;
  }
  small{
    width: 70%;
    float: left;
  }
}

/* forms */

form {
  padding: 0;
   label { 
    display: inline-block;
    margin-bottom: 5px;
  } 
  input[type=email],
  input[type=password],
  input[type=submit],
  .name-input
  {
    textarea{
      font-size: 8px;
    }
    height: 25px;
    -webkit-appearance: none; 
    box-sizing: border-box;
    border-radius: 0;
    background-color: $input;
    width: 100%;
    border: 1px solid $input-border;
    padding: 0 10 0 10;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 0 $input-shadow;
  }
  input[type=submit] {
    position: relative;
    background: $submit;
    border: 1px solid $submit-border;
    color: $submit-font;
    padding-right: 0;
    height: 30px; 
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
  }

  .checkbox{
    input[type=checkbox]{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 2px; 
      width: 2px;
      padding: 5px;
      border: 1px solid $checkbox-border;
      margin: 0 2px 0 0; 
      bottom: 1px;
      vertical-align: middle;
      position: relative;
      border-radius: 2px;
    }
    input[type=checkbox]:checked{
      background-color: $checkbox-checked;
      border: 1px solid $checkbox-checked;
      box-shadow: 0px 0px 5px 2px $checkbox-checked;
    }
    input[type=checkbox]:focus{
      outline-width: 0;
    }
    span{
      cursor: pointer;
      font-size: .8em;
    }  
  }
}


/* mobile */


@media only screen and (max-width: 480px){
  .mat-card{
    margin: 10px auto 10px auto;
    padding: 10px;  
  }
  form{
    input[type=email],
    input[type=password],
    input[type=submit],
    .name-input
    {
      textarea{
        font-family: inherit;
        font-size: inherit; 
      }
      height: 35px;
    }
  }
}

/* tablet */

@media only screen and (min-width:481px){
  .mat-card{
    margin: 10px 10px 10px 10px;
  }
}

/* desktop */

@media only screen and (min-width: 768px){
  .mat-card{
    margin: 10px auto 10px auto; 
  }
}

.on-device{
  body{
    cursor: pointer;
  }
}

/* Debug */

pre{
  font-size: .66em;
  overflow: none;
}
