=content_for(:title, "Welcome")
.mat-card
  %h3 Welcome
  %p 
    This is a business forum for professionals to share interesting events, news, opportunities, and ideas.
  %p 
    If you do not have an account please
    =succeed "." do
      =link_to "sign up", "/signup"
  %p 
    or 
    =succeed "." do
      =link_to 'log in', "/login"
