=content_for(:title, "Welcome")
.mat-card
  %h3 Welcome
  %p 
    This is business forum for professionals to share interesting events, news, opportunities, and ideas.
  %p 
    If you do not have an account please
    =link_to "sign up", "/signup_url"
  %p 
    or 
    =link_to 'log in', "/login"
