%header
  =link_to "Pivot", root_path, :id => "logo"
  .hamburger.noselect ☰
  %ul#nav-hidden
    -if logged_in? 
      %li
        %a{:href => user_path(current_user)}
          Profile
      %li
        =link_to "Log out", logout_url, :method => "delete"
    -else
      %li
        %a{:href => "/login"}
          Log in
      %li
        %a{:href => "/signup"}
          Sign Up
    %li
      %a{:href => "/home"}
        Home
