%header
  =link_to "Pivot", root_path, :id => "logo"
  .hamburger.noselect ☰
  %ul#nav-hidden
    -if logged_in? 
      %li
        %a{:href => user_path(current_user)}
          .float-right
            Profile
      %li
        %a{:href => logout_path, :method => :delete}
          .float-right
            Log Out
    -else
      %li
        %a{:href => "/login"}
          .float-right
            Log in
      %li
        %a{:href => "/signup"}
          .float-right
            Sign Up
    %li
      %a{:href => "/home"}
        .float-right
          Home
