%header
  =link_to "Pivot", root_path, :id => "logo"
  .hamburger.noselect ☰
  %ul#nav-hidden
    -if logged_in? 
      %li
        =link_to "Profile", user_path(current_user)
      %li
        =link_to "Log out", logout_url, :method => "delete"
      %li
        =link_to "Home", "/home"
    -else
      %li
        =link_to "Log in", "/login"
      %li
        =link_to "Sign Up", "/signup" 
      %li
        =link_to "Home", '/'
